.page {
  position: relative;
}

.btn {
  position: absolute;
  left: 50%;
  top: 10px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.icon_one {
  display: none;
}

.btn.is-open .icon_one {
  display: block;
}

.btn.is-open .icon_two {
  display: none;
}
