.page {
  position: relative;
}

.btn_menu {
  display: inline-block;
  position: absolute;
  margin-left: 50%;
  margin-top: 30px;
  padding: 0;
  border: 0;
  background-color: transparent;
}
.btn_menu.is-open .use_1 {
  display: block;
}

.btn_menu.is-open .use_2 {
  display: none;
}

.menu .is-open {
  display: block;
}

/* .use_2 {
  display: block;
} */

.menu {
}

.button_block {
  display: flex;
}

.button_block_link {
  display: block;
  text-decoration: none;
  margin-right: 50px;
  border: solid black 2px;
  border-radius: 4px;
  padding: 10px;
  background-color: blueviolet;
  color: azure;
}

.button_block_link.hover {
  border-radius: 40%;
}

.button_block_btn.hover {
  border-radius: 40px;
}
