.btn {
  border-radius: 10px;
  border: 2px solid green;
  background-color: red;
}

.btn:hover {
  border-radius: 20%;
  border: 5px solid red;
  background-color: green;
}

.icon-path {
  display: none;
}

.btn.is-open .icon-path {
  display: block;
}

.btn.is-open .icon-dagger {
  display: none;
}
